<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <title></title>
</head>
<!-- <div class="topnav">
    <a class="active"
       href="/">Home</a>
</div> -->
<body>
    <div class="head">
        <h1>Available Routes</h1>
    </div>
    
    <div class="routes">
        <a class="active" href="/api/v1.0/precipitation">Precipitation</a><br>
        <a class="active" href="/api/v1.0/stations">Stations</a><br>
        <a class="active" href="/api/v1.0/tobs">Temperature</a><br>
        <a class="active" href="/api/v1.0/<start>">Start</a><br>
        <a class="active" href="/api/v1.0/&lt;start&gt;/&lt;end&gt;">Start-End</a>
    </div>

</body>
</html>