<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <title></title>
</head>
<!-- <div class="topnav">
    <a class="active"
       href="/">Home</a>
</div> -->
<body>
    <div class="head">
        <h1>Data:</h1>
    </div>
    
    <div class="stuff">
        {% for d in data %}
            <div class="data">
                <p>Precipitation: {{d.prcp}} on {{ d.date }}</p>
            </div>
        {% endfor %}
    </div>

</body>
</html>